/* informatics132.scss */
/* Carlos Valdez */

@mixin centerFlex($columnOrRow) {
    display: flex;
    flex-direction: $columnOrRow;
    justify-content: center;
    align-items: center;
}

body {
    color: white;
    background-color: black;

    font-family: Arial, Helvetica, sans-serif;

    @include centerFlex(column);

    p, h1, h2, li {
        max-width: 350px;
    }

    a {
        color: white;
    }
}

.extra-text {
    text-align: center;
    // font-size: 12px;

    margin: 35px;
}

#introducing-pantrypal {
    @include centerFlex(column);
}

#introducing-pantrypal-text {
    @include centerFlex(column);

    line-height: 5px;
}

#introducing-pantrypal-images {
    @include centerFlex(row);
    width: 100dvw;
    overflow-x: scroll;
}

img {
    border-radius: 20px;

    min-width: 200px;
    max-width: 350px;
    margin: 20px;
}

.space {
    margin: 200px 0;
}

#problem-statement {
    @include centerFlex(column);
    text-align: center;

    margin: 0 35px;
}

#competative-analysis {
    @include centerFlex(column);
    text-align: center;
}

.left-to-right {
    @include centerFlex(row);
    flex-wrap: wrap;
}
