.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80dvh;
}

.container h2,
.container p {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;

  padding: 0 35px;
  border: 2px solid var(--black);
  border-radius: 10px;
}

.form button {
  margin: 15px 0;
  background-color: #5865f2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form button svg {
  margin-right: 5px;
}
