/*
globals.css
Carlos Valdez
*/
:root {
  background-color: rgb(24, 24, 24);
  color: white;
  text-transform: lowercase;

  display: flex;
  flex-direction: column;
  align-items: center;
}

:root a {
  text-decoration: underline;
  color: rgb(44, 188, 255);
}

:root p {
  line-height: 20px;
}

:root li {
  line-height: 20px;
}

:root blockquote {
  border-left: solid white 2px;
  padding: 2px 0 2px 20px;
  margin: 20px 0;
}

:root blockquote p {
  margin: 5px 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 25px 0;
}

header h1 {
  font-size: 25px;
  margin: 5px;
}

header p {
  margin: 0;
}

main {
  width: 350px;
  min-height: 70dvh;
}

footer {
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px 0;
}

footer p {
  margin: 0;
}

footer .links {
  display: flex;
  width: 250px;
  justify-content: space-around;
}
