.container404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95dvh;
  background-color: var(--black);
  color: var(--white);

  margin: 20px 0;
}

.container404 a {
  color: var(--white);
}
