.socialsContainer {
  display: flex;
  align-items: center;
}

.socialsContainer p {
  font-size: 35px;
  margin: 0;
}

.socialsIcons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-left: 20px;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aboutMeContainer {
  display: flex;
  flex-wrap: wrap;
}

.gravatarIcon {
  border-radius: 100%;
  margin: 20px;
}

@media (max-width: 660px) {
  .socialsContainer p {
    font-size: 25px;
  }
}
