.aboutContainer {
  display: flex;
  justify-content: center;

  margin: 50px 0;
}

.about {
  min-width: 50%;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.text {
  min-width: 250px;
  max-width: 350px;
  margin: 0 50px;
}

.about img {
  border-radius: 100%;
  margin: 20px 50px;
}

.projectsContainer {
  background-color: var(--black);
  display: flex;
  justify-content: center;

  padding: 50px 0;
}

.postContainer {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.post {
  width: 100%;
  max-width: 1000px;
  margin: 0 20px;
}

.post a {
  color: var(--black);
}

.projects {
  width: 100%;
  max-width: 1000px;
  margin: 0 20px;
}

.projects h2 {
  color: var(--white);
}

.adminContainer {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 50px;

  background-color: var(--black);
}

.helloAdmin {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.adminContainer h1,
.adminContainer p {
  color: var(--white);
  margin: 0;
}

.helloAdmin img {
  margin: 10px;
  border-radius: 100%;
}
