.container {
    margin: 150px 0;
}

.metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.metadata h1 {
    font-size: 80px;
    margin: 0;
    flex: 5;
    font-weight: bold;
}

.metadata h2 {
    font-size: 50px;
    margin: 0;
    flex: 5;
    font-weight: bold;
}

.metadata p {
    font-size: 35px;
    margin: 25px 0;
    flex: 4;
    min-width: 200px;
}

.content {
    margin: 15px 0;
}